#logo{
    height: 30px; 
}
.container{
  padding: 25px;
}

h1.display-4{
    position: center; 
}  

h1{
    font-family: 'Lobster', sans-serif;
    font-size: 80px; 
    color: white; 
}
.card-title{
    color: white; 
}
a{
    color: inherit;
}
a:hover{
    color: white; 
}
p{
    color: white; 
}
.jumbotron{
    text-align: center;
    background-color:rgb(57, 50, 63, 0.5);
}
.card{
    background-color: rgb(57, 50, 63); 
}

body{
    background-image: url("../images/mim.jpg");
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
}
.btn-secondary{
    background-color: rgb(57, 50, 63);
}

