#logo{
    height: 30px; 
}
.container{
  padding: 25px;
}

h1.display-4{
    position: center; 
}  

h1{
    font-size: 80px; 
    color: black; 
}
.card-title{
    color: white; 
}
a{
    color: inherit;
}
a:hover{
    color: white; 
}
p{
    color: white; 
}
.jumbotron{
    text-align: center;
    background-color:white;
}
.card{
    background-color: rgb(57, 50, 63); 
}

body{
    background-color: white;
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
}
.btn-secondary{
    background-color: rgb(57, 50, 63);
}

